* {
  font-family: 'Rubix', sans-serif;
}
#havigation {
  height: 125px;
}
#navigation ul {
  float: right;
}
#navigation ul li {
  list-style: none;
  background-color: #fbd333;
  border: solid 1px #000;
  text-align: center;
  padding: 3px 10px;
  margin:5px 20px;
  width:200px

}

#navigation ul li a {
  font-family: inherit;
  font-size: 11px;
  color: #000;
}

#navigation ul li:hover  {
  background-color: #ddd;
}

#navigation ul li a:active  {
  background-color: #f1e5b7;
}

#container {
  max-height: 450px;
}

section#car-container {
  background-image: url(../images/car-banner.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  max-width: 1908px;
  height: 508px;
  padding: 47px 0px;
  margin-top: 2.350cm;
  text-align: center;
}


section#car-container h4 {
  color: #fff;
  font-family: inherit;
  font-size: 2.985984em;
  font-weight: 400;
}

section#car-container h6 {
  color: #fff;
  padding-bottom: 74px;
}
a.button {
  background-color: #ffd300;
  padding: 0.59cm 1.431cm;
  border: solid 1px #ddd;
  color: #fff
}

.top-bar {
  border-top: solid 1px #ddd;
  clear:both;
}

.logo {
  max-width: 308px;
  min-height:145px;
  padding:27px;
  margin-left: 17px
}

.logo img {
  width:58%
}

.right-col {
  padding: 53px 0px 0px 27px;
}

.right-col h5 {
  font-size: 1.7em
}

.banner-image {
  background: url('images/hero-image-1.jpg');
  width:2042px;
  height:508px;
}

section img {
  max-width: 100%
}

.hero-text {
  max-width: 384px;
  min-height:276px !important;
  background-color: #fbd333;
  border: solid 1px #ddd;
  position: relative;
  padding: 31px 20px 40px 36px;
  bottom: 224px;
  margin-left: 129px;

}

.hero-text h4 {
  font-family: inherit;
  font-size: 2.985984em;
  font-weight: 400;
}

.key-features-cont {
  background-size: 100% 100%;
  background-image: url(../images/key-features-bg.jpg);
  background-repeat: no-repeat;
  max-width: 912px;
  height: 297px;
  padding: 44px;
}

.key-features {
  padding: 54px 20px 0px 20px;
}
.did-you ul li {
  list-style: none;
}
.did-you h3 {
  color: red;
  padding: 46px 36px;
}

.key-features-cont ul li,
.your-personal-cont ul li
 {
  list-style: none;
  line-height: 3.9em
}

.key-features h3{
  max-height: 468px;
  font-family: inherit;
}

.your-personal-cont {
  max-width: 912px;
  height: 297px;
  padding: 44px;
  background-color: #f7f7f7
}

.fa-check-square,
.fa-check {
  color: #62c643
}

.fa-bars {
  font-size: 32px
}

.box-1,
.box-2,
.box-3 {
  border-radius: 5px;
  border: solid 1px #000;
  margin:35px;
  padding: 10px
}

.added-protection {
  margin:0 auto;
}

.added-protection h4 {
  color: red;
  text-align: center;
  padding-bottom:10px
}

.added-protection h5 {
  color: #62c643
}

.peace-of-mind,
.options,
.weekly-cont {
  padding-top: 48px;
}

.peace-of-mind h5,
.options h5,
.options p {
  color: red;
  text-align: left;
  padding-bottom:10px
}

.year-1,
.year-2,
.year-3 {

  border: solid 1px #000;
  text-align: center;
  max-width: 155px !important;
  min-height: 30px !important;
  padding-top: 5px;
  margin-right: 38px;
}

.year-1 {
  background-color: #ffe994;
}
.year-2 {
  background-color: #ffdd5a;
}
.year-3 {
  background-color: #ffc200;
}

.check-box {
  width: 70px;
  height: 70px;
  padding: 8px;
  text-align: center;
  border: solid 1px #000;
  float:left;
  margin-right:18px
}

.menu {
  display: none
}

.footer {
  display: inline-block;
  padding: 20px 0px 0px 109px;
}

@media only screen and (max-width: 1902px) {

  #navigation ul {
    display: inline-flex;
  }
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  .logo {
    max-width: 308px;
    min-height: 145px;
    padding: 27px;
    margin: 0 auto;
  }

  .menu {
    position: absolute;
    top: 0px;
    display: block;
    margin:20px
  }

  #navigation ul {
    position: absolute;
    display: none;
    top: 52px;
    left: 32px;
    z-index: 111;
  }
  section#car-container {
    padding:0;
  }
  section#car-container h6 {
    padding-bottom:18px;
  }
  section#car-container h4{
    font-size: 28px
  }
  a.button {
    padding: 12px 20px;
  }
  .hero-text {
    width:37%;
    bottom:0;
  }
}

@media only screen and (max-width: 472px){
  .key-features-cont,
  .your-personal-cont {
    width:100%;
  }
}
